[user]
    email = rwong@wealthsimple.com

[difftool]
    trustExitCode = true

[pager]
    diff =

[alias]
    a = add
    b = branch
    bd = branch -d
    bD = branch -D
    bm = branch -m
    c = commit
    ca = commit --amend
    co = checkout
    cob = checkout -b
    com = checkout master
    d = diff
    dc = diff --cached
    dh = diff HEAD~
    dm = diff master HEAD
    dmc = "!git diff --name-only HEAD master | cat"
    dmerged = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
    l = log
    merged = branch --merged
    pl = pull
    ps = push
    poh = push -u origin HEAD
    pom = pull origin master
    pfoh = push -fu origin HEAD
    rb = rebase
    rba = rebase --abort
    rbc = rebase --continue
    rbi = rebase -i
    rbim = rebase -i master
    rbm = rebase master
    rbs = rebase --skip
    s = status
    st = status
    unstage = reset --soft HEAD^
    xx = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
